.clients {
  padding-left: calc(50vw - 868px);
  padding-right: calc(50vw - 860px);


  &__header {
    color: var(--main-regular);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 7px;

  }

  &__container {
    display: grid;
    grid-template-columns: repeat(4, 430px);
    grid-template-rows: repeat(3, 120px);
    margin: 0;
    padding-bottom: 60px;
  }

  &__box {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover {
      opacity: 0.5;
      transition: 0.5s;
    }

    &:nth-child(1) {
      background-color: #1C4280;
      border-top-left-radius: 10px;
    }

    &:nth-child(2) {
      background-color: #143646;
    }

    &:nth-child(3) {
      background-color: #F48B30;
    }

    &:nth-child(4) {
      background-color: #9E4DC3;
      border-top-right-radius: 10px;
    }

    &:nth-child(5) {
      background-color: #FD9339;
    }

    &:nth-child(6) {
      background-color: #E2E2E4;
    }

    &:nth-child(7) {
      background-color: #C71C36;
    }

    &:nth-child(8) {
      background-color: #DCF3F9;;
    }

    &:nth-child(9) {
      background-color: #DCF3F9;
      border-bottom-left-radius: 10px;
    }

    &:nth-child(10) {
      background-color: #282240;
    }

    &:nth-child(11) {
      background-color: #1D4568;
    }

    &:nth-child(12) {
      background-color: #000;
      border-bottom-right-radius: 10px;
    }
  }
}

.clients__header-services {
  margin-top: 60px;
}

@media screen and (max-width: 1700px) {
  .clients {
    padding-left: calc(50vw - 840px);
    padding-right: calc(50vw - 840px);

    &__container {
      display: grid;
      grid-template-columns: repeat(4, 420px);
      grid-template-rows: repeat(3, 120px);
      margin: 0;
      padding-bottom: 60px;
    }
  }
}

@media screen and (max-width: 1601px) {
  .clients {
    padding-left: calc(50vw - 840px);
    padding-right: calc(50vw - 840px);

    &__container {
      grid-template-columns: repeat(4, 395.5px);

    }
  }
}

@media screen and (max-width: 1440px) {
  .clients {
    padding-left: calc(50vw - 720px);
    padding-right: calc(50vw - 720px);


    &__container {
      grid-template-columns: repeat(4, 356px);
      padding-bottom: 0;
    }
  }
}

@media screen and (max-width: 1400px) {
  .clients {
    padding-left: calc(50vw - 710px);
    padding-right: calc(50vw - 710px);


    &__container {
      grid-template-columns: repeat(4, 338px);
      padding-bottom: 0;
    }
  }
}

@media screen and (max-width: 1280px) {
  .clients {
    padding-left: calc(50vw - 520px);
    padding-right: calc(50vw - 520px);


    &__container {
      grid-template-columns: repeat(4, 256px);
      padding-bottom: 0;
    }
  }
}

@media screen and (max-width: 800px) {
  .clients {
    padding-left: calc(50vw - 398px);
    padding-right: calc(50vw - 398px);


    &__container {
      grid-template-columns: repeat(3, 256px);
      grid-template-rows: repeat(4, 120px);
      padding-bottom: 0;
    }

    &__box {
      &:nth-child(3) {
        background-color: #F48B30;
        border-top-right-radius: 10px;
      }

      &:nth-child(4) {
        background-color: #9E4DC3;
        border-top-right-radius: 0;
      }

      &:nth-child(10) {
        background-color: #282240;
        border-bottom-left-radius: 10px;
      }
    }
  }
}