body {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex-grow: 1;
}

.footer {
  flex-shrink: 0;
}

.center {
  padding-left: calc(50vw - 800px);
  padding-right: calc(50vw - 800px);
}