body {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex-grow: 1;
}

.footer {
  flex-shrink: 0;
}

.center {
  padding-left: calc(50vw - 808px);
  padding-right: calc(50vw - 808px);
}

@media screen and (max-width: 1601px) {
  .center {
    padding-left: calc(50vw - 780px);
    padding-right: calc(50vw - 780px);
  }
}

@media screen and (max-width: 1440px) {
  .center {
    padding-left: calc(50vw - 667px);
    padding-right: calc(50vw - 667px);
  }
}

@media screen and (max-width: 1280px) {
  .center {
    padding-left: calc(50vw - 460px);
    padding-right: calc(50vw - 460px);
  }
}

@media screen and (max-width: 800px) {
  .center {
    padding-left: calc(50vw - 325px);
    padding-right: calc(50vw - 325px);
  }
}

@media screen and (max-width: 600px) {
  .center {
    padding-left: calc(50vw - 172px);
    padding-right: calc(50vw - 172px);
  }
}