.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background: var(--gradient-supersoft);
  padding-bottom: 500px;
  color: #fff;
}
.logo {
  padding-top: 50px;
}
.img {
  //position: relative;
  //left: 160px;

}