.header {
  display: grid;
  grid-template-columns: 364px 728px 478px;
  grid-template-rows: 110px 407px;
  background: var(--gradient-supersoft);
  padding-bottom: 500px;
}
.logo {
  padding-top: 50px;
}
.img {
  width: 872px;
}