.menu {
  display: grid;
  grid-template-columns: auto 120px auto;

  &__info {
    display: flex;
    flex-direction: column;
    gap: 30px;
    white-space: nowrap;
    list-style: none;
    justify-content: center;
    text-align: end;
    margin: 0;
  }

  &__link {
    font-weight: 700;
    font-size: 38px;
    color: var(--grey-text);
  }

  &__link-active {
    background: (linear-gradient(90deg, #EF8080 0.84%, #F0145A 99.96%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    &:hover {
      background: var(--accent);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
    }
  }

  &__line {
    padding: 60px 60px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__header {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
  }

  &__desc {
    grid-column: 2 / 4;
    color: #fff;
    font-size: 19px;
    line-height: 1.58;
    max-width: 861px;
  }
}