.nav {
  display: grid;
  grid-template-columns: 364px 728px 500px;
  grid-template-rows: 60px 940px;

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__logo {
    padding-top: 50px;
  }

  &__img-symbol {
    width: 728px;
  }

  &__slogan {
    font-size: 38px;
    font-weight: 700;
    margin: 0;
    color: #fff;
    position: absolute;
    top: 467px;
    padding-left: 160px;
  }

  &__scroll-btn {
    stroke: white;
    position: absolute;
    top: 928px;
    margin-left: 415px;

    &:hover {
      stroke: var(--accent);
      transition: 0.5s;
    }
  }

  &__list {
    display: flex;
    list-style: none;

  }

  &__list-contact {
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 700;
    align-items: center;
    padding-top: 50px;
    min-width: 478px;

    :nth-child(3) {
      border-radius: 8px;
      background: var(--accent);
      padding: 5px 7px;
      color: #fff;
    }

    :nth-child(2) {
      padding: 0 7px 0 14px;
    }

    :nth-child(4), :nth-child(6), :nth-child(8) {
      padding: 0 4.5px 0 4px;
    }

    :nth-child(5) {
      font-weight: 400;
      font-size: 14px;

    }

    :nth-child(7) {
      font-size: 16px;
      padding-left: 1px;

    }
  }

  &__link-active {
    color: #fff;

  }

  &__list-menu {
    gap: 15px;
    font-weight: 700;
    padding-top: 16px;
    padding-left: 95px;
    grid-column: 3 / 4;
    white-space: nowrap;
  }

  &__link {
    color: #fff;
  }

  &__link_services-active {
    color: var(--accent);

    &::after {
      margin-top: 3px;
      height: 2px;
      background-color: currentColor;
      content: "";
      display: block;
    }

    &:hover {
      opacity: 0.5;
      transition: 0.5s;
    }
  }

  &__icon {
    fill: #fff;

    &:hover {
      fill: var(--accent);
      transition: 0.5s;
    }
  }
}

.services-nav {
  display: grid;
  grid-template-rows: 60px 60px;
}

.publications-header {
  &__link, &__icon {
    color: var(--grey-text);
    fill: var(--grey-text);
  }

  &__link-none {
    color: var(--active-regular);
  }

}