.nav {
  display: grid;
  grid-template-columns: 364px 728px 500px;
  grid-template-rows: 60px 940px;

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__logo_mobile {
    display: none;
  }

  &__logo_descktop {
    display: block;
  }

  &__logo {
    padding-top: 50px;
  }

  &__img-symbol {
    width: 728px;
    cursor: revert;

    &:hover {
      opacity: 1;
    }
  }

  &__slogan {
    font-size: 38px;
    font-weight: 700;
    margin: 0;
    color: #fff;
    position: absolute;
    top: 467px;
    padding-left: 160px;
  }

  &__scroll-btn {
    stroke: white;
    position: absolute;
    top: 928px;
    margin-left: 415px;

    &:hover {
      stroke: var(--accent);
      transition: 0.5s;
    }
  }

  &__list {
    display: flex;
    list-style: none;
  }

  &__close {
    display: none;
  }

  &__list-contact {
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 700;
    align-items: center;
    padding-top: 50px;
    min-width: 478px;

    :nth-child(3) {
      border-radius: 8px;
      background: var(--accent);
      padding: 5px 7px;
      color: #fff;
    }

    :nth-child(2) {
      padding: 0 7px 0 14px;
    }

    :nth-child(4), :nth-child(6), :nth-child(8) {
      padding: 0 4.5px 0 4px;
    }

    :nth-child(5) {
      font-weight: 400;
      font-size: 14px;

    }

    :nth-child(7) {
      font-size: 16px;
      padding-left: 1px;

    }
  }

  &__link-active {
    color: #fff;
  }

  &__list-menu {
    gap: 15px;
    font-weight: 700;
    padding-top: 16px;
    padding-left: 95px;
    grid-column: 3 / 4;
    white-space: nowrap;
  }

  &__link {
    color: #fff;
  }

  &__link_services-active {
    color: var(--accent);

    &::after {
      margin-top: 3px;
      height: 2px;
      color: var(--accent);
      background-color: currentColor;
      content: "";
      display: block;
    }

    &:hover {
      opacity: 0.5;
      transition: 0.5s;
    }
  }

  &__icon {
    fill: #fff;

    &:hover {
      fill: var(--accent);
      transition: 0.5s;
    }
  }
}

.services-nav {
  display: grid;
  grid-template-columns: 500px 600px;
  grid-template-rows: 60px 60px;
}

.publications-header {
  &__link, &__icon {
    color: var(--grey-text);
    fill: var(--grey-text);
  }

  &__link-none {
    color: var(--active-regular);
  }

}

@media screen and (max-width: 1601px) {
  .nav {
    grid-template-columns: 364px 678px 500px;
    grid-template-rows: 60px 940px;
  }
  .services-nav {
    grid-template-columns: 500px 500px;
  }
}

@media screen and (max-width: 1440px) {
  .nav {
    grid-template-columns: 255px 558px 500px;
    grid-template-rows: 60px 741px;

    &__img-symbol {
      width: 697px;
      height: 799px;
    }

    &__slogan {
      top: 370px;
      padding-left: 130px;
    }

    &__scroll-btn {
      top: 727px;
      margin-left: 385px;
    }
  }
}

.services-nav {
  display: grid;
  grid-template-rows: 60px 60px;
}

@media screen and (max-width: 1280px) {
  .nav {
    grid-template-columns: 61px 335px 500px;
    grid-template-rows: 60px 710px;

    &__img-symbol {
      width: 669.957px;
      height: 768px;
    }

    &__slogan {
      top: 353px;
      padding-left: 117px;
    }

    &__scroll-btn {
      top: 696px;
      margin-left: 372px;
    }
  }
  .services-nav {

  }
}

@media screen and (max-width: 800px) {
  .nav {
    grid-template-columns: 48px 335px 500px;
    grid-template-rows: 60px 60px 965px;

    &__img-symbol {
      width: 893.277px;
      height: 1024px;
      position: absolute;
      left: -138px;
    }

    &__slogan {
      top: 483px;
      padding: 0;
      white-space: nowrap;
    }

    &__scroll-btn {
      top: 952px;
      margin-left: 255px;
    }

    &__list-contact {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      z-index: 1;
      padding-left: 9px;
    }

    &__logo {
      grid-row: 2 / 3;
      padding-top: 45px;
    }

    &__list-menu {
      grid-column: 1 / 2;
      grid-row: 3 / 4;
      z-index: 1;
      padding-left: 1px;
      padding-top: 61px;
    }
  }
}

@media screen and (max-width: 767px) {
  .nav {
    grid-template-columns: 30px 283px 30px;
    grid-template-rows: 58px 60px 515px;

    &__logo {
      padding-top: 0;
      z-index: 1;
    }

    &__logo_mobile {
      display: block;
    }

    &__logo_descktop {
      display: none;
    }

    &__img-symbol {
      width: 523.404px;
      height: 600px;
      flex-shrink: 0;
      left: -98px;
    }

    &__slogan {
      top: 225px;
      padding-left: 82px;
      white-space: normal;
      width: 215px;
    }

    &__scroll-btn {
      top: 528px;
      margin-left: 151px;
    }

    &__list-contact {
      grid-row: 1 / 2;
      padding: 10px 0 11px 42px;
      background: rgba(245, 245, 250, 0.20);
      margin: 0;
      position: absolute;
      left: 0;

      :nth-child(4), :nth-child(5), :nth-child(6), :nth-child(8), :nth-child(9) {
        display: none;
      }

      :nth-child(7) {
        padding-left: 142px;
      }

    }

    &__menu {
      grid-column: 3 / 4;
      grid-row: 2 / 3;
      z-index: 1;
      position: relative;
      width: 18px;
      height: 12px;
      margin-left: 7px;
      margin-top: 10px;

      span {
        position: absolute;
        left: 50%;
        translate: -50%;
        width: 100%;
        height: 2px;
        background-color: #fff;

        &:nth-child(1) {
          top: 0;
        }

        &:nth-child(2) {
          top: 50%;
        }

        &:nth-child(3) {
          top: 100%;
        }
      }
    }

    &__close {
      padding-top: 15px;
      padding-left: 320px;
      display: block;
    }

    &__list-menu {
      display: none;
      position: absolute;
      top: 0;
      left: 12px;
      right: 12px;
      background-color: #fff;
      padding: 64px 12px 12px 12px;
      border-radius: 12px;
      gap: 30px;
    }

    &__link_mobile {
      color: var(--active-regular, #24A3FF);
      font-size: 24px;
      font-weight: 700;
    }
  }
  #open_menu:checked {
    & ~ .nav__menu span {
      rotate: 45deg;
      top: 50%;
      background-color: #EC6F5D;

      &:nth-child(2) {
        rotate: -225deg;
      }
    }

    & ~ .nav__list {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

@media screen and (max-width: 400px) {
  .nav {

    &__img-symbol {
      left: -121px;
    }

    &__list-contact {

      :nth-child(7) {
        padding-left: 70px;
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .nav {

    &__img-symbol {
      left: -164px;
    }

    &__list-contact {

      :nth-child(7) {
        padding-left: 35px;
      }
    }
  }
}
