.publications {
  padding-top: 35.5px;
  background: var(--grey-bg);


  &__item, &__arrow {
    display: flex;
    align-items: center;
  }

  &__item {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  &__arrow {
    stroke: #24A3FF;
  }

  &__merge {

    :hover .publications__arrow {
      stroke: var(--accent);
      transition: 0.5s;

    }
  }

  &__header {
    background: var(--gradient-red-text, linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 38px;
    font-weight: 700;
    margin: 0;
    padding-bottom: 23px;
  }

  &__container {
    display: flex;
    gap: 30px;
  }

  &__box {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    min-width: 513px;
  }

  &__text, &__data, &__line, &__desc {
    padding-left: 30px;
    padding-right: 30px;
  }

  &__img_height {
    width: 513px;
    max-height: 200px;
    border-radius: 8px 8px 0 0;
    padding-bottom: 1px;
    display: block;
  }

  &__img {
    display: none;
    width: 420px;
    max-height: 200px;
    border-radius: 8px 8px 0 0;
  }

  &__img_small {
    display: none;
    max-height: 200px;
    border-radius: 8px 8px 0 0;
  }

  &__img_tablet {
    display: none;
  }

  &__text {
    color: var(--active-regular);
    font-weight: 700;
    margin: 0;
    padding-top: 27px;

    &:hover {
      color: var(--accent);
      transition: 0.5s;
    }
  }

  &__data {
    color: var(--grey-text);
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0;
    padding-top: 17.5px;
  }

  &__line {
    height: 4px;
    padding-top: 15px;
  }

  &__desc {
    color: #000;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.57;

  }
}

@media screen and (max-width: 1601px) {
  .publications {
    &__container {
      display: flex;
      gap: 12px;
    }
  }
}

@media screen and (max-width: 1440px) {
  .publications {
    &__container {
      gap: 30px;
    }

    &__img_height {
      display: none;
    }

    &__img {
      display: block;
    }

    &__box {
      min-width: 420px;
    }

    &__text {
      padding-top: 31px;
    }
  }
}

@media screen and (max-width: 1280px) {
  .publications {
    &__img_height {
      display: none;
    }

    &__img {
      display: none;
    }

    &__img_small {
      display: block;
    }

    &__box {
      min-width: 281px;
    }
  }
}

@media screen and (max-width: 800px) {
  .publications {
    &__container {
      display: grid;
      grid-template-columns: 309px 309px;
      gap: 30px;

      :nth-child(3) {
        grid-column: 1 / 3;
      }
    }

    &__img_small {
      display: none;
    }

    &__img_tablet {
      display: block;
    }

    &__box {
      height: 514px;

      &:last-child {
        height: 388px;
      }
    }
  }
}