.shadow-dark {
  background: #CACADB;
  border-radius: 0 0 12px 12px;
  margin: 0 10px;
  height: 10px;
}

.shadow-light {
  background: #E7E7F2;
  border-radius: 0 0 12px 12px;
  margin: 0 20px;
  height: 10px;
}

.shadow-light-services {
  margin-bottom: 60px;
}