.team {
  &__box {
    padding-top: 60px;
    display: flex;
    padding-bottom: 500px;
  }

  &__img {
    align-self: stretch;
    border-radius: 12px 0 0 12px;
  }

  &__container {
    padding: 30px 30px;
    background: var(--grey-bg);
    border-radius: 0 12px 12px 0;
    max-height: 298px;
  }

  &__link, &__arrow {
    display: flex;
    align-items: center;
  }

  &__link {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  &__arrow {
    stroke: #24A3FF;
  }

  &__merge {
    :hover .team__arrow {
      stroke: var(--accent);
    }
  }

  &__header {
    background: var(--gradient-red-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 38px;
    font-weight: 700;
    margin: 0;
    padding-bottom: 30px;

  }

  &__name {
    color: var(--grey-text);
    font-weight: 700;
    margin: 0;
  }

  &__desc {
    color: var(--grey-text);
    font-size: 14px;
    line-height: 1.57;
    margin: 0;
  }
}