.team {
  margin-top: 60px;
  margin-bottom: 60px;

  &__slide {
    display: none;
  }

  &__flex {
    display: flex;
    height: 298px;
  }

  input:checked + &__slide {
    display: block;
  }

  &__content {
    margin-bottom: 30px;
  }

  &__dots {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 15px;
    margin: 0;
    padding: 0;
  }

  &__toggle {
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    opacity: 0.2;
    background: var(--active-regular);
    color: transparent;
    cursor: pointer;
    font-size: 0;
    overflow: hidden;

    &:hover {
      opacity: 0.5;
      transition: 0.3s;
    }
  }

  &__toggle-active {
    opacity: 1;
  }

  &__img {
    align-self: stretch;
    border-radius: 12px 0 0 12px;


    &:hover {
      opacity: 0.5;
      transition: 0.5s;
      cursor: pointer;
    }
  }

  &__container {
    padding: 30px 30px;
    background: var(--grey-bg);
    border-radius: 0 12px 12px 0;
  }

  &__link, &__arrow {
    display: flex;
    align-items: center;
  }

  &__link {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  &__arrow {
    stroke: #24A3FF;
  }

  &__merge {
    :hover .team__arrow {
      stroke: var(--accent);
      transition: 0.5s;
    }
  }

  &__header {
    background: var(--gradient-red-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 38px;
    font-weight: 700;
    padding-top: 6px;
    padding-bottom: 30px;
    margin: 0;
  }

  &__name {
    color: var(--grey-text);
    font-weight: 700;
    margin: 0;
  }

  &__desc {
    color: var(--grey-text);
    font-size: 14px;
    line-height: 1.57;
    margin: 0;
  }
}
